
html,
body {
 
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  opacity: 1 ;
}

body {
  background-image: url(img.jpg);
  background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center; 
}

.button {
  width: 66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  color: #521782;
  border-radius: 9px;
  cursor: pointer;
}

.button:hover {
  background-color: #8087d4;
}

.row {
  margin: 8px 0;
}

.row input {
  width: 291px;
  font-size: 20px;
  margin: 0;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 5px;
}
